.admin-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  background-color: #7B1113;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  z-index: 999;
  box-sizing: border-box;
}

/* Left side (titles) */
.admin-header-left {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 0.8rem;
  opacity: 0.9;
}

.main-title {
  font-size: 1.1rem;
  font-weight: 600;
}

/* Right side (profile icon) */
.admin-header-right {
  display: flex;
  align-items: center;
  cursor: pointer;
}
